<!-- <p> -->
	<mat-toolbar color="primary">
		<span>Todo App</span>
	</mat-toolbar>
<!-- </p> -->

<mat-form-field class="mt-15 w-20">
	<input matInput placeholder="Add new task" [(ngModel)]="newTask">
</mat-form-field>
<button [disabled]="newTask == ''" *ngIf="id === ''" mat-raised-button color="primary"
	(click)="addTask(); newTask = ''">Add</button>
<button [disabled]="newTask == ''" *ngIf="!!id" mat-raised-button color="primary" (click)="updateTask()">Update</button>
<mat-card *ngIf="tasks.length > 0">
	<mat-list>
		<mat-list-item *ngFor="let task of tasks;let i = index">
			<mat-divider *ngIf="i != 0"></mat-divider>
			<mat-slide-toggle (change)="toggle(task)" [checked]="!!task.done" color="primary">
				<span [ngClass]="{done:task.done}">{{task?.name}}</span>
			</mat-slide-toggle>
			<button matTooltip="Edit task" matTooltipPosition="above" mat-icon-button (click)="editTask(task)">
				<mat-icon class="color_primary" aria-label="icon-button with a heart icon">create</mat-icon>
			</button>
			<button matTooltip="Delete task" matTooltipPosition="above" mat-icon-button (click)="removeTask(task._id)">
				<mat-icon class="color_danger" aria-label="icon-button with a heart icon">delete</mat-icon>
			</button>
		</mat-list-item>
	</mat-list>
</mat-card>